.gm-style{

  .gm-style-iw-c{
    border-radius: 0;
    padding: 0;
  }

  .gm-style-iw-d{
    overflow-x: hidden !important;
  }

  span.loader{
    display: block;
    width: 16px;
    height: 16px;
    margin: 10px;
    background-image: url('/bundles/estatemanagergooglemaps/loader.gif');
    background-repeat: no-repeat;
  }

  &.poi-info-window{
    padding: 10px;
  }
}

.mod_realEstateGoogleMap, .mod_realEstateExpose .expose_mod_googleMap{

  .google-map{
    min-height: 300px;
  }
}
